.footer-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-background-alt);
    bottom: 0;
}

.footer-container a {
    text-decoration: underline;
}