:root {
    --color-background: #1e2939;
    --color-text: #ffffff;
    --color-link: #ffffff;
    --color-yellow: #f0b100;
    --color-green: #00c950;
    --color-red: #fb2c36;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    color: var(--color-text);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

